Flask==2.0.2
aiohttp==3.9.5
uWSGI==2.0.30
requests>=2.26.0,<3.0.0
urllib3>=1.26.0,<2.0.0
gql[requests]==3.0.0
Werkzeug==2.2.2
google-api-python-client==2.34.0
google-cloud-storage==2.10.0
google-analytics-data==0.18.0
google-api-core==2.11.0
google-auth>=2.16.0,<3.0.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.8.0,<2.0.0
google-cloud-core==2.3.3
